:root {
    --lightbg: #222222;
    --darkbg: #111111;
    --fg: #ffffff;
    --linkfg: #99a2ff;
    --linkHoverfg: #bbbbbb;
    --altcolor: rgba(0, 0, 0, 0.4);
}

.crypto {
    font-size: small;
    overflow-wrap: break-word;
    text-decoration: none;
}

.emoji {
    max-height: 1em;
    max-width: 1em;
}

.img {
    display: block;
    margin: auto;
    border-radius: 8px;
    max-width: 90%;
    max-height: 300px;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 8px;
    max-width: 800px;
    background-color: var(--darkbg);
    color: var(--fg);
}

header {
    margin-bottom: 10px;
    font-size: 15pt;
}
header h1 {
    color: var(--fg);
}

footer {
    text-align: center;
    margin-top: 10px;
}

main {
    padding: 1em
}

h1{
    text-align: center;
}

a {
    color: var(--linkfg);
    text-decoration: none;
}
a:hover {
    color: var(--fg);
}
